sw-menu {
    .menu {
        background-color: $white;
        border-top: 5px solid $pink;
        padding: .4rem 0;
        border-bottom: 1px solid $white;

        .menu-item {
            padding: .5rem 1rem;
            text-transform: lowercase;
            color: $gray-900;

            &:hover {
                cursor: pointer;
                text-decoration: none;
                color: $white;
                background-color: $pink;
                transition: .5s ease;
            }
        }

        .menu-item-selected {
            background-color: $pink;
            color: $white;
        }
    }
}