<div class="text-center">
    <a
        [routerLink]="['./home']"
        [routerLinkActive]="['currently-selected']"
        title="Home"
        data-test-key="menu-item-home"
    >
        <i class="fas fa-home"></i>
        Home
    </a>

    <a
        [routerLink]="['./characters']"
        [routerLinkActive]="['currently-selected']"
        title="Characters"
        data-test-key="menu-item-characters"
    >
        <i class="fas fa-user-secret"></i>
        Characters
    </a>

    <a
        [routerLink]="['./planets']"
        [routerLinkActive]="['currently-selected']"
        title="Planets"
        data-test-key="menu-item-planets"
    >
        <i class="fas fa-globe-europe"></i>
        Planets
    </a>

    <a
        [routerLink]="['./starships']"
        [routerLinkActive]="['currently-selected']"
        title="Starships"
        data-test-key="menu-item-starships"
    >
        <i class="fas fa-ship"></i>
        Starships
    </a>

    <a
        [routerLink]="['./films']"
        [routerLinkActive]="['currently-selected']"
        title="Films"
        data-test-key="menu-item-films"
    >
        <i class="fas fa-film"></i>
        Films
    </a>

    <a
        (click)="viewCredits()"
        title="Credits"
        data-test-key="menu-item-credits"
    >
        <i class="far fa-file-alt"></i>
        Credits
    </a>
</div>