<div class="menu text-center">
    <a
        [routerLink]="['/home']"
        [routerLinkActive]="['menu-item-selected']"
        class="menu-item"
        title="Home"
        data-test-key="menu-item-home"
    >
        <i class="fas fa-home"></i>
        <span class="d-none d-sm-none d-md-inline"> Home</span>
    </a>

    <a
        [routerLink]="['/characters']"
        [routerLinkActive]="['menu-item-selected']"
        class="menu-item"
        title="Characters"
        data-test-key="menu-item-characters"
    >
        <i class="fas fa-user-secret"></i>
        <span class="d-none d-sm-none d-md-inline"> Characters</span>
    </a>

    <a
        [routerLink]="['/planets']"
        [routerLinkActive]="['menu-item-selected']"
        class="menu-item"
        title="Planets"
        data-test-key="menu-item-planets"
    >
        <i class="fas fa-globe-europe"></i>
        <span class="d-none d-sm-none d-md-inline"> Planets</span>
    </a>

    <a
        [routerLink]="['/starships']"
        [routerLinkActive]="['menu-item-selected']"
        class="menu-item"
        title="Starships"
        data-test-key="menu-item-starships"
    >
        <i class="fas fa-ship"></i>
        <span class="d-none d-sm-none d-md-inline"> Starships</span>
    </a>

    <a
        [routerLink]="['/films']"
        [routerLinkActive]="['menu-item-selected']"
        class="menu-item"
        title="Films"
        data-test-key="menu-item-films"
    >
        <i class="fas fa-film"></i>
        <span class="d-none d-sm-none d-md-inline"> Films</span>
    </a>

    <a
        [routerLink]=""
        (click)="viewCredits()"
        class="menu-item"
        title="Credits"
        data-test-key="menu-item-credits"
    >
        <i class="far fa-file-alt"></i>
        <span class="d-none d-sm-none d-md-inline"> Credits</span>
    </a>
</div>