<div class="modal-header">
	<h4 class="modal-title">{{ data.name }}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="text-center mb-5">
		<img src="assets/star-wars-sword-icon.png">
	</div>

	<table class="table">
		<tbody>
			<tr>
				<th scope="row" class="text-right">Surface Water</th>
				<td class="text-left">{{ data.surface_water }}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Gravity</th>
				<td class="text-left">{{ data.gravity }}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Terrain</th>
				<td class="text-left">{{ data.terrain }}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Climate</th>
				<td class="text-left">{{ data.climate }}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Diameter</th>
				<td class="text-left">{{ data.diameter }}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Orbital Period</th>
				<td class="text-left">{{ data.orbital_period }}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Rotation Period</th>
				<td class="text-left">{{ data.rotation_period }}</td>
			</tr>
		</tbody>
	</table>
</div>