sw-film {
    .film {
        padding: 2rem 1rem;
        border-bottom: 1px solid $gray-400;

        .character-link {
            color: $white;
            background-color: $gray-900;
        }
    }
}