sw-header {
    position: fixed;
    width: 100%;
    z-index: 1000;

    .heading {
        background-color: $gray-900;
        margin: 0;
        color: $white;
        text-transform: uppercase;
    }
}