@mixin lists {
    .list-group {
        .list-group-item {
            &:hover {
                background-color: $pink;
                color: $white;
                font-weight: bold;
            }
        }
    }
}