<div class="modal-header">
	<h4 class="modal-title lead">
		<i class="fab fa-jedi-order mr-2"></i> Credits
	</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<ng-container *ngIf="credits && credits.length > 0">
		<span *ngFor="let c of credits" class="lead">
			{{ c.credit }} -
			<a [href]="c.credit_link" [title]="c.credit_title" target="_blank">
				{{ c.credit_title }}
			</a>
		</span>
	</ng-container>
</div>