@import './home/home.component';
@import './category/category';
@import './modal/modal';
@import './shared/shared';

sw-root {
    main {
        min-height: calc(100vh - #{$page-footer-height});
        padding-top: $page-header-height;

        .page-container {
            display: flex;
            flex-direction: column;
            min-height: calc(100vh - #{$page-header-height} - #{$page-footer-height});
            background-color: $gray-200;

            .container {
                max-width: 100%;
            }
    
            a {
                color: $gray-900;
                
                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
    
            i.fa-spinner {
                color: $pink;
            }
        }
    }
}