@import '~bootstrap/scss/bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import './app/shared/scss/variables';
@import './app/shared/scss/mixins';

@import './app/app.component';

html {
    position: relative;
    min-height: 100%;

    body {
        margin-bottom: $page-footer-height; // needed for sticky footer
    }
}