sw-home {
    .category:hover {
        background-color: $pink;
        color: $white;
        cursor: pointer;
        transition: .5s;
    }

    .disabled-category {
        color: $gray-500;
    }
}