<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 p-5 text-center category" (click)="gotoPage('/characters')" title="Characters"
				data-test-key="category-characters">
				<h1 class="display-4">
					<i class="fas fa-user-secret"></i>
				</h1>
				<p class="lead">
					<span class="display-4">C</span>haracters
				</p>
			</div>
			<div class="col-sm-6 col-md-4 p-5 text-center category" (click)="gotoPage('/planets')" title="Planets"
				data-test-key="category-planets">
				<h1 class="display-4">
					<i class="fas fa-globe-europe"></i>
				</h1>
				<p class="lead">
					<span class="display-4">P</span>lanets
				</p>
			</div>
			<div class="col-sm-6 col-md-4 p-5 text-center category" (click)="gotoPage('/starships')" title="Starships"
				data-test-key="category-starships">
				<h1 class="display-4">
					<i class="fas fa-ship"></i>
				</h1>
				<p class="lead">
					<span class="display-4">S</span>tarships
				</p>
			</div>
			<div class="col-sm-6 col-md-4 p-5 text-center category" (click)="gotoPage('/films')" title="Films"
				data-test-key="category-films">
				<h1 class="display-4">
					<i class="fas fa-film"></i>
				</h1>
				<p class="lead">
					<span class="display-4">F</span>ilms
				</p>
			</div>
			<div class="col-sm-6 col-md-4 p-5 text-center disabled-category" title="Vehicles"
				data-test-key="category-vehicles">
				<h1 class="display-4">
					<i class="fas fa-motorcycle"></i>
				</h1>
				<p class="lead">
					<span class="display-4">V</span>ehicles
					<br/>
					<small>coming soon...</small>
				</p>
			</div>
			<div class="col-sm-6 col-md-4 p-5 text-center disabled-category" title="Pilots"
				data-test-key="category-pilots">
				<h1 class="display-4">
					<i class="fas fa-fighter-jet"></i>
				</h1>
				<p class="lead">
					<span class="display-4">P</span>ilots
					<br/>
					<small>coming soon...</small>
				</p>
			</div>
			<div class="col-sm-6 col-md-4 p-5 text-center disabled-category" title="Species"
				data-test-key="category-species">
				<h1 class="display-4">
					<i class="fas fa-atom"></i>
				</h1>
				<p class="lead">
					<span class="display-4">S</span>pecies
					<br/>
					<small>coming soon...</small>
				</p>
			</div>
		</div>
	</div>
</div>