sw-footer {
    .footer { // sticky footer
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $page-footer-height;
        background-color: $gray-900;
        
        .footer-text {
            color: $gray-500;

            .footer-link {
                color: $gray-500;
                
                &:hover {
                    color: $white;
                }
            }
        }
    }
}